<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>

    <body>
    <nav style="background-size: cover;" class="navbar sticky-top bg-dark">
      <div class="container-fluid">
        <a class="nav-link text-white" href="/"><h4>Home</h4></a>
        <a class="nav-link text-white"><h5>Jakub Povondra</h5></a>
      </div>
    </nav>



    {% block content %}{% endblock content %}

 
    </body>

</html>