{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}

<div class="container">
	<h2>{{post.title}}</h2>
	<div>
    {% for tag in post.tags.all %}
      <a href="{% url 'tag' tag.slug %}" class="mr-1 badge text-white bg-primary">#{{ tag }}</a>
    {% endfor %}
  </div>
    <p class="mt-2 card-text">{{post.content}}</p>
    <img src="{{post.image.url}}" class="img-fluid" alt="{{post.title}}">
    <p class="mt-2">Published {{post.date_published}}</p>
</div>
  



{% endblock content %}        
