{% extends 'base.html' %}
{% block title %}Tag {{tag}}{% endblock %}
{% block content %}

<div class="container text-center ">
  <div class="row mt-2">
    <div class="col">
      <h1>Posts with tag {{tag}}</h1>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col"></div>
    <div class="col">
      {% for post in posts %}
      <div class="card mb-2" style="width: 18rem;">
        <div class="card-body">
          <img src="{{ post.thumbnail.url }}" class="rounded mx-auto d-block" height="200px" width="200px" alt="{{ post.title }}">
           <a href="{% url 'detail' post.slug  %}" class="link-dark"><h5 class="card-title">{{ post.title }}</h5></a>
          <div >
            {% for tag in post.tags.all %}
              <a href="{% url 'tag' tag.slug %}" class="mr-1 badge text-white bg-primary">#{{ tag }}</a>
            {% endfor %}
          </div>
          <p class="card-text">{{post.content|slice:":255"}}</p>
          <a href="{% url 'detail' post.slug  %}" class="link-secondary">More</a>
          <p class="card-text"><small class="text-muted">Published {{ post.date_published}}</small></p>
        </div>
      </div>

      {% empty %}
      Nothing here yet
      {% endfor %}
    </div>
    <div class="col"></div>
  </div>
  </div>
{% endblock content %}

